div.blocked-quote blockquote {
	margin: 0;
	padding: 0;
	background: none;
	border: none;
	text-align: center;
	font-size: 158.33% !important;
	color: #444343;
	font-style: normal;
	font-weight: 300;
	line-height: 1.3em;
}
.container .sixteen.columns {
	width: 940px;
}
.container {
	position: relative;
	width: 960px;
	margin: 0 auto;
	padding: 0;
}
section.block {
	position: relative;
	padding: 50px 0;
	z-index: 1;
}
#scrollUp {
	width: 45px;
	height: 45px;
	background:url("images/top.png") no-repeat center center #00CCFF;
	bottom: 111px;
	right: 148px;
	text-indent: -9999px;
	overflow: hidden;
}
#slider {
	height:200px;
}
#slider ul, #slider li {
	margin:0;
	padding:0;
	list-style:none;
}
.indexFang{
	float:left;	
	width: 225px;
	height: 200px;
	margin: 0 10px;
	display:inline
}
#slider li {
	overflow: hidden;
	display:inline
}
#slider li img {
	width: 100%;
	height: 150px;
	border-bottom: solid 3px #00CCFF;
}
p#controls, p#controls2 {
	margin:0;
	position:relative;
}
#prevBtn, #nextBtn {
	display: block;
	margin: 0;
	overflow: hidden;
	text-indent: -8000px;
	width: 32px;
	height: 32px;
	position: absolute;
	left: -5px;
	top: -144px;
}
#nextBtn {
	left:709px;
}
#prevBtn a, #nextBtn a {
	display:block;
	width:30px;
	height:77px;
	background:url(images/btn_prev.gif) no-repeat 0 0;
}
#nextBtn a {
	background:url(images/btn_next.gif) no-repeat 0 0;
}
/*Slide Start幻灯片位置开始*/
h3.centered, h4.centered, h5.centered {
	text-align: center;
	font-size: 15px;
}
small.centered, span.centered {
	display: block;
	text-align: center;
	font-size: 12px;
	color: #ccc;
}
#Slidebox {
	width:100%;
	height: 350px;
	padding:0px;
	margin:0 auto;  /*position:relative;*/
	background:#D1CBBF;
	overflow:hidden;
}
#flashBg {
	height: 350px;
	overflow:hidden;
	width:100%;
	clear:both;
	margin:0;
	padding:0;
}
#flashLine {
	height: 350px;
	width:100%;
	clear:both;
}
#flash {
	width:1300px;
	height: 350px;
	overflow:hidden;
	margin:0 auto;
	clear:both;
	position:relative;
	padding:0px 0px;
}
#flash a {
	width:1300px;
	height: 350px;
	display:none;
}
#flash img {
	width:1300px;
	height: 350px;
}
.flash_bar {
	width:100px;
	z-index:69;
	height:18px;
	overflow:hidden;
	position:absolute;
	padding-top:13px!important;
	bottom:10px;
	left:50%;
	text-align:center;
	margin-left:-50px;
	_background:none;
}
.flash_bar .dq {
	display:block;
	float:left;
	width:12px;
	height:12px;
	margin:2px 4px;
	cursor:pointer;
	background:url(images/pagination.png) no-repeat 0px -12px;
	overflow:hidden;
	_background:#FC0;
 _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="images/pagination.png", sizingMethod="crop");
}
.flash_bar .no {
	display:block;
	float:left;
	width:12px;
	height:12px;
	margin:2px 4px;
	cursor:pointer;
	background:url(images/pagination.png) no-repeat 0px 0px;
	overflow:hidden;
	_background:#9C0;
 _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="images/pagination.png", sizingMethod="crop");
}
header {
	background-color:#FFF
}
header .logo {
	background: url(images/logo.png) no-repeat 23px center;
	height: 95px;
	width: 810px;
	margin: 0 auto;
	line-height: 94px;
	padding-left: 180px;
}
header .logo dt {
	text-align: right;
	font-weight: normal;
	height: 25px;
	line-height: 25px;
	font-size: 13px;
}
header .logo dd {
	text-align: right;
	font-weight: normal;
	line-height: 68px;
}
header .logo dd img {
	margin-top:20px;
}
header .logo dt a {
	color:#666
}
header .logo dt a:hover {
	color:#F33
}
#nav {
	background-color: #ffffff;
	border-bottom: 2px #3db85f solid;
	border-top: 1px #eeeeee solid;
	width: 100%;
	margin: 0 auto;
	height: 38px;
	position:relative;
	z-index:99999;
}
#nav .sf-menu {
	margin:0 auto;
}
.inner {
	width:960px;
	margin:0 auto;
}
.content {
	margin:0 auto;
	overflow: hidden;
}
hr.section-sep + .content.block {
	margin-top: -1px;
	border-top: solid 1px #bab9b9;
}
.content.block {
	position: relative;
	padding: 30px 0;
	z-index: 1;
}
.contentLeft {
	float:left;
	position:relative
}
.contentRight {
	float:right;
	position:relative;
	_left:-15px;
}
.contentLeft p, .contentRight p {
	line-height:20px;
	font-size:13px;
	margin-top:15px;
}
.ind1 {
	width: 455px;
}
.ind1 img {
	float: left;
	border: 1px #ccc solid;
	border-radius: 104px;
	height: 180px;
	width: 180PX;
}
.ind1 dl {
	float: right;
	width: 260px;
	margin: 25PX 0 0 0;
	position: relative;
	height: 165px;
}
.ind1 dl dt {
	font-size: 16px;
	margin-bottom: 5px;
	background:url(images/dot.jpg) no-repeat left center;
	padding-left:15px;
}
dt.title {
	font-size: 16px;
	margin-bottom: 5px;
	background: url(images/dot.jpg) no-repeat left center;
	padding-left: 15px;
}
.ind1 dl dd {
	margin: 0;
}
.ind1 dl dd .title {
	font-weight: bold;
	margin: 0;
}
.ind1 dl dd p {
	line-height: 22px;
	margin: 0;
}
.content .one {
	width: 40px
}
.content .two {
	width: 100px
}
.content .three {
	width: 160px
}
.content .four {
	width: 215px;
	margin-right:10px
}
.content .five {
	width: 315px
}
.content .six {
	width: 340px
}
.content .seven {
	width: 400px
}
.content .eight {
	width: 460px
}
.more {
	color:#F60
}
.more:hover {
	color: #F30
}
hr.section-sep {
	background: #edecec;
	color: #edecec;
	margin: -1px 0 0 0;
}
footer {
	background: url(images/footer-bg.jpg);
	text-align: center;
	width: 100%;
	border-top: 3px #ccc solid;
}
footer ul li {
	float:left;
	margin-top:13px;
}
footer ul li a {
	border-right: 1px #efefef solid;
	margin: 0;
	padding: 0 10px;
	color:#FFF
}
footer ul li a:hover {
	color:#09C
}
footer h3 {
	color:#FFF;
	height:40px;
	line-height:40px;
	font-weight:normal
}
footer h3 a {
	color:#FC0
}
/*.sideTitle {
	font-size: 16px;
	overflow: hidden;
	text-align:center;
	color:#fff;
	border-bottom:#666 2px solid;
	background-color:#449B00;
	padding:5px;
	border-radius: 5px 5px 0 0;
	margin-top:28px;
}*/
.sideTitle {
	font-size: 18px;
	overflow: hidden;
	color: rgb(138, 129, 129);
	border-bottom: #666 2px solid;
	padding: 5px;
	border-radius: 5px 5px 0 0;
	margin-top: -5px;
}
/*.sidebar {
	background-color:#fff;
	border-bottom:1px #CCC solid;
	border-left:1px #CCC solid;
	border-right:1px #CCC solid;
}*/
.sidebar {
}
.sidebar ul {
}
/*.sidebar ul li {
	font-size: 16px;
	padding:5px;
	border-bottom:1px #ccc dotted
}*/
.sidebar ul li {
	font-size: 16px;
	padding: 10px 5px;
	border-bottom: 1px #ccc dotted;
}
.sidebar ul li:before {
	display: block;
	font-weight: 300;
	content: "";
	float: left;
	width: 5px;
	height: 5px;
	margin-top: 10px;
	background: #999;
	margin-right: 5px;
}
.sidebar ul li a {
	padding: 3px;
	font-size:14px
}
.sidebar ul li .sel {
	color:#F60;
	font-weight:bold
}
.news {
	width: 590px;
	float: left;
	padding-left: 20px;
}
.newsView {
	width: 100%;
	float: left;
	padding-right: 20px;
	_width:auto;
	_padding-right: 0px;
	_float: none;
}
.news li, .newsView li {
	padding: 0 0 7px 14px!important;
	margin: 7px 0 0 0!important;
	border-bottom: 1px #ccc dotted;
	background: url("../images/dot.jpg") no-repeat left 6px #fff;
	width:95%;
	float:none!important;
	font-size:14px;
}
.contentRw {
	width: 780px;
	padding:0 0 0 15px;
	_width: 778px;
}
.news li a {
}
.news li span, .newsView li span {
	color:#CCC;
	margin-left:15px;
}
h3.section-title:before {
	display: block;
	font-weight: 300;
	content: "";
	float: left;
	width: 5px;
	height: 5px;
	margin-top: 7px;
	background: #f76626;
	margin-right: 9px;
}
h3.section-title {
	font-size: 1.3em !important;
	font-weight: bold;
	line-height: 1.3em;
}
.section-title {
	font-weight: 600;
	margin-bottom: 15px;
}
.bread {
	margin:0;
	border-bottom:2px #ccc solid;
	height:29px;
	line-height:31px;
}
.bread .index {
	background: url(images/i.png) no-repeat 0 4px;
	padding-left: 11px;
}
.procont {
	margin:0;
	padding:25px;
	border:1px #CCC solid;
	overflow:hidden
}
.bread li {
	float: left;
	margin: 0;
	font-family: "微软雅黑";
	font-size:14px;
}
.bread li a {
	color: #999;
}
.bread li a:hover {
	color: #856E55;
}
.bread li b {
	color: #ccc;
	font-family: none;
	margin: 0 10px;
}
.proList {
	padding: 30px;
	overflow: hidden;
}
.proList ul {
}
.proList ul li {
	float: left;
	margin: 0 25px 25px 25px;
	position:relative
}
.proList ul li img {
	border: 2px #eee solid;
	transition: border 0.2s ease-out;
	-moz-transition: border 0.2s ease-out;
	-o-transition: border 0.2s ease-out;
	-webkit-transition: border 0.2s ease-out;
}
.proList ul li a {
}
.proList h2 {
	text-align: center;
}
.proList ul li a > img:hover {
	border:#F60 2px solid;
}
/*=============================== =========================*/
.Featured {
	padding: 30px;
	overflow: hidden;
}
#Featured ul {
}
#Featured li {
	float: left;
	margin: 0 25px 25px 25px;
	position:relative;
	background-color: #f8f8f8;
	width: 265px;
	border-bottom: 1px #ccc solid;
	height: 350px;
	overflow: hidden;
}
#Featured li img {
	width:265px;
	height:212px;
}
#Featured li:hover {
	background-color:#E6EEFF;
	transition: background-color 0.2s ease-out;
	-moz-transition: background-color 0.2s ease-out;
	-o-transition: background-color 0.2s ease-out;
	-webkit-transition: background-color 0.2s ease-out;
}
#Featured li a {
	color:#39C
}
#Featured h2 {
	padding: 0 10px;
	height: 30px;
}
#Featured p {
	line-height:20px;
	color:#999;
	font-size:13px;
	margin-top:0;
	padding-left:10px;
}
/*===================== ==========================*/
.contCenter h1 {
	margin: 0 0 8px 0px;
	font-size: 28px;
	color: #090;
	vertical-align: bottom;
	padding: 0px;
	font-weight: normal;
	line-height: 28px;
}
.contCenter h3 {
	font-size: 18px;
	font-weight: normal;
	margin: 5px 0;
	color:#666
}
.contCenter .ce {
	color: #ccc;
	margin-bottom: 20px;
	border-bottom:1px #ccc dotted;
	padding-bottom:10px;
	font-family: arial;
	font-size: 14px;
	color:#999
}
.mask {
	opacity:0;
	background-color:#F60;
	width:200px;
	height:200px;
	position:absolute;
	top:2px;
	left:2px;
	_background-color:#ccc;
}
.zoom {
	background:url(images/format-image.png) no-repeat;
	position:absolute;
	width:10px;
	height:10px;
}
.proview {
	background-color:#F4F4F4;
	overflow:hidden
}
.proview img {
	float:left
}
.proview .note {
	float: right;
	width: 298px;
	padding: 15px;
}
.proview .note h3 {
font-size: 14px;
font-weight: bold;
border-bottom: 1px #333 dotted;
padding-bottom: 5px;
color: #F60;
}
.proview .note h3 small {
	color: #999;
	font-size: 12px;
	font-weight: normal;
	display: block;
	line-height: 18px;
}
.proview .note p {
	text-indent:24px;
	font-size:13px;
	line-height:22px;
	margin-top:20px;
}

/*==========*/
.product {
	background-color:#CFF6FA;
	overflow:hidden
}
.product img {
	float:right;
	width:400px;
}
.product .note {
	float: right;
	width: 298px;
	padding: 15px;
}
.product .note h3 {
font-size: 16px;
font-weight: bold;
border-bottom: 1px #333 dotted;
}
.product .note p {
	font-size:13px;
	line-height:22px;
	margin:0
}
/*==============*/
table.tab1 {
	border: 0px none;
	margin: 20px 0;
	width: 100%;
}
.tab1 caption {
	font-size: 15px;
	text-align: left;
	margin-bottom: 5px;
	padding: 5px 0 5px 30px;
	font-weight: bold;
	color:#1298DB;
	background: url(images/jianjian.png) no-repeat 10px center;
}
.tab1 tr {
}
.tab1 th {
	border:solid 1px #EEE;
	padding:8px;
	background: url(images/bgr_tabs.jpg);
	text-align:center;
	color:#0790a9;
}
.tab1 td {
	/*border:solid 1px #cfe2e9;*/
	border:solid 1px #EEE;
	padding:8px;
	color:#0790a9
}
/*===================================*/
table.tab2 {
	border: 0px none;
	margin: 20px 0;
	width: 100%;
}
.tab2 caption {
	font-size: 15px;
	text-align: left;
	margin-bottom: 5px;
	padding: 5px 0 5px 30px;
	font-weight: bold;
	color:#1298DB;
	background: url(images/jianjian.png) no-repeat 10px center #f5f5f5;
}
.tab2 tr {
}
.tab2 th {
	border-bottom: solid 2px #EEE;
	padding:8px;
	color:#0790a9;
}
.tab2 td {
	/*border:solid 1px #cfe2e9;*/
	border-bottom: dotted 1px #ccc;
	padding:8px;
	color:#333
}
/*===================================*/
.case, .shebei {
	padding: 30px;
	overflow: hidden;
}
.case ul, .shebei ul {
}
.case ul li, .shebei ul li {
	float: left;
	margin: 0 15px 15px 15px;
	position:relative;
	border:#fff 1px solid;
}
.case ul li img {
	border: 2px #eee solid;
	transition: border 0.2s ease-out;
	-moz-transition: border 0.2s ease-out;
	-o-transition: border 0.2s ease-out;
	-webkit-transition: border 0.2s ease-out;
	width: 273px;
	height:170px;
}
.shebei ul li {
	float: left;
	margin: 0 5px 5px 5px;
	position:relative;
	border:#fff 1px solid;
	padding:10px;
}
.shebei ul li img {
	border: 1px #fff solid;
	transition: border 0.2s ease-out;
	-moz-transition: border 0.2s ease-out;
	-o-transition: border 0.2s ease-out;
	-webkit-transition: border 0.2s ease-out;
	width: 190px;
	height: 190px;
}
.shebei ul li:hover {
	border:#F60 1px solid;
}
.shebei h2 {
	text-align: center;
	border-bottom:1px #ccc solid
}
.shebei h2 a {
	font-size:14px;
	color:#097380
}
.shebei p {
	text-align: left;
	padding:3px 0 0 0;
	margin:0;
}
.case ul li a {
	font-size:14px;
	line-height:25px;
}
.case h2 {
	text-align: center;
}
.case p {
	color:#999;
	margin-top: 0;
}
.case ul li a > img:hover {
	border:#F60 2px solid;
}
.case2 ul {
	margin-top:20px;
}
.case2 ul li {
	float: left;
	margin: 0 15px 15px 0;
	position:relative;
	width:228px;
}
.case2 ul li p {
	margin:0;
	padding:0 0 0 10px;
	color:#999;
}
.case2 ul li img {
	border: 2px #eee solid;
	transition: border 0.2s ease-out;
	-moz-transition: border 0.2s ease-out;
	-o-transition: border 0.2s ease-out;
	-webkit-transition: border 0.2s ease-out;
	width: 228px;
	height: 145px;
}
.case2 ul li a {
	color:#39C
}
.case2 h2 {
	line-height: 20px;
	margin:5px 0;
	padding-left:10px;
}
.case2 ul li a > img:hover {
	border:#F60 2px solid;
}
.fanganView {
}
.fanganimg {
	border-top:1px #ccc dotted;
	padding-top:15px;
	padding-bottom:15px;
	overflow:hidden
}
.fanganimg img {
	float:left;
	margin-right:10px;
	width:400px;
	height:240px;
}
.fanganimg ul {
	float:right;
	width:310px
}
.fanganimg ul li {
font-size: 16px;
margin: 12px 0;
list-style: inside;
}
.fanganimg b {
	font-size:18px;
}
.fanganView p {
	font-size: 14px;
	line-height: 22px;
}
.textTitle {
	color: rgb(33, 155, 27);
	font-size: 20px !important;
	margin: 10px 0 5px 0;
	border-bottom: 1px #ccc dotted;
	padding-bottom: 5px;
}
img.jingyou {
	width:400px;
	height:300px
}
.about p {
	font-size:14px;
	line-height:20px;
	margin-bottom:15px;
	color:#333
}
.titleTop span {
	font-weight: bold;
	color: #F60;
}
.titleTop {
	border-top: 1px #ccc dotted;
	margin: 0 0 10px 0;
	padding: 10px 0 0 0;
}
.newscontent p {
	color: #333;
	font-size: 14px;
	line-height: 24px;
	text-indent: 28px;
}
.contentLeft2 {
	float: left;
	margin-right: 25px;
}
.contentLeft2 img {
	width:330px;
	height:auto;
}
.contentRight2 {
	float: left;
	width: 543px;
}
.titleP {
	font-size: 20px !important;
	color: #333!important;
	margin-bottom: 8px !important;
}
.contentRight2 p {
	font-size: 15px;
	line-height: 25px;
	margin-bottom: 20px;
	color:#666
}
.contentRight2 a {
	background-color: #f74b00;
	padding: 5px;
	_padding:2px;
	_font-size:12px;
	color: #fff;
	transition: background-color 0.2s ease-out;
	-moz-transition: background-color 0.2s ease-out;
	-o-transition: background-color 0.2s ease-out;
	-webkit-transition: background-color 0.2s ease-out;
}
.contentRight2 a:hover {
	background-color:#090;
	text-decoration:none;
	color:#fff;
}
.abox {
	text-align: right;
	position: relative;
	overflow: hidden;
	background-color: #efefef;
	border-radius: 12px;
}
.nomargin {
	margin-bottom:5px!important
}
